.tech {
  position: absolute;
  height: 40px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.35);
  box-shadow: 0 0 70px 25px rgb(255, 255, 255, 0.7);
  animation: float 3s ease-in-out infinite;
  z-index: 10;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0); /* Starting and ending position */
  }
  50% {
    transform: translateY(-20px); /* Move 20px up at the midpoint */
  }
}
