.tech {
  position: absolute;
  height: 40px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 80px 5px var(--accent100);
  animation: float 3s ease-in-out infinite;
  z-index: 10;
}

/* Float animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
