.contactContainer {
  height: 90vh;
  max-width: 600px;
  margin: 5vh auto;
  padding: 20px;
  background-color: var(--primary600);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem var(--primary800);
}

.contactContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--accent100);
}

.contactContainer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contactContainer a {
  color: #60c2a8;
  text-decoration: none;
}

.contactContainer a:hover {
  text-decoration: underline;
}

.contactContainer h2 {
  color: var(--accent100);
  font-size: 1.5rem;
  margin: 10px 0px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.contactForm label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #171717;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--primary600);
  color: white;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: #60c2a8;
}

.submitButton {
  background-color: #60c2a8;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #60a497;
}

.loading {
  background: linear-gradient(
    90deg,
    #60c2a8 20%,
    transparent 20%,
    transparent 40%,
    #60c2a8 40%,
    transparent 60%,
    transparent
  );
  background-size: 200% 100%;
  animation: loading 1s infinite;
}

/* Loading bar animation */
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 1000px) {
  .contactContainer {
    height: 90vh;
    max-width: 80vw;
    margin: 5vh auto;
    padding: 20px;
    background-color: var(--primary600);
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 1rem 1rem var(--primary800);
  }
}
