:root {
  --background: #1c1f2b; /* Dark Navy Blue */
  --foreground: #e6e6e6; /* Light Grey for text */
  --primary800: #37394e; /* Dark Muted Blue */
  --primary600: #505375; /* Medium Muted Blue */
  --primary500: #676b94; /* Softer Blue */
  --primary300: #8e91b1; /* Light Soft Blue */
  --primary100: #c0c3d6; /* Very Light Blue */
  --accent100: #ffb74d; /* Bright Orange for accents */
  --gray: #808080; /* Medium Gray for neutral elements */
  --btnPrimary: #39a6a3; /* Cyan for primary buttons */
  --btnPrimaryHover: #2e8f89; /* Slightly darker cyan for hover */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
