.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experiencesContainer {
  background-color: var(--primary100);
  color: var(--primary600);
  padding: 1.5rem;
}

.experiencesList {
  list-style: none;
  padding: 0;
}

.projectsSection {
  min-height: 100vh;
  padding: 3rem;
  background-color: var(--primary100);
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: var(--primary600);
  margin-bottom: 1.5rem;
}

.projectsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.certificatesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
}

.certificatesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
