.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--primary300);
  padding: 1rem 0;
}

.experience:last-child {
  border-bottom: none;
}

.year {
  color: var(--primary300);
  font-style: italic;
}

.details {
  margin-top: 0.5rem;
  width: 70%;
}
